<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hello, @email!  You have been invited by your friend to join a Survivor Fantasy League.</h1>
    <p>
      Reality-Labs has created a fantasy league along the same lines as other sports fantasy leagues you may have played, but tailored for the reality show Survivor.  Your friend has created a new league and would like you to join up.<br/>
    </p>
    <p>
      To join in the fun, just follow this link: <%= @url %>.</br>  
    </p>
    <p>Once you follow the site, you'll need to type in the correct league information, which is</br></p>
    <p>League Name: <%= @league_name %></br></p>
    <p>League Confirmation Code: <%= @league_code %></br></p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>