%div.hero
  %div.scroll
    =image_tag('left-scroll.png', :class => 'left_scroll', :id => 'left_scroll')
    =image_tag('right-scroll.png', :class => 'right_scroll', :id => 'right_scroll')
  %div#hero.hero_inset
    =image_tag('hero_4.jpg', :class => 'hero_image')
    =image_tag('hero_5.jpg', :class => 'hero_image')
    =image_tag('hero_6.jpg', :class => 'hero_image')
  %div.start_game
    %div.new_league
      %button#new_league Start a league
      %p Become the League Commissioner and Invite Your Friends
    %div.new_user
      %button#new_user Join a League
      %p Click Here if You Have a Confirmation Code from a Friend
    %div.clear
  =image_tag('whitearrow.png', :class => 'arrow', :id => 'arrow')
  %div.handwriting Click Here to Begin...
  %button.hero_button Start Now!
%div.bottom_content 
  %div.about
    %h1 OutPrep - OutDraft - OutWatch
    %p 
      Welcome to 
      %em Reality Lab's 
      Survivor Fantasy Game! The game takes the basic elements of your favorite fantasy sports leagues and brings them to the world of Survivor. It’s simple: start a league and invite your friends; pick Survivor contestants through a real-time draft with other members in your league; earn points based on how your Survivors perform each week. Whoever has the most points at the end of the season wins! 
  %div.rules
    %h1 How to Play
    %h2#setup_head.rules_header Setting Up
    %div#setup_body.hide
      %p 
        New users have one of two options. You can either 
        =link_to 'start a new league', new_league_path
        and become its 
        %em League Commissioner 
        or you can 
        =link_to 'join a league', new_user_path 
        that has been started by one of your friends.
        %h3.rules_header#start_league_head Starting a League
        %p.hide#start_league_body 
          Starting a league from scratch and becoming its 
          %em League Commissioner 
          gives you three responsibilities: (1) inviting your friends to join, (2) setting a draft time for everyone to convene on 
          %em Reality-Labs.com
          , and (3) setting your league’s scoring system. 
        %h3.rules_header#join_league_head Joining a League
        %p.hide#join_league_body 
          If you were invited to join a league, your 
          %em League Commissioner 
          will supply you with a league name and a confirmation code. He or she will also arrange a time for you and other league members to sign in to Reality-Labs.com to draft your team of Survivors. 
    %h2#draft_head.rules_header The Draft
    %div#draft_body.hide
      %p The draft is a turn-based, “snake” system to allow league members to choose Survivor contestants to be on their team. A snake draft allows the league member who chose last in the first round to choose first in the second round, eliminating the unfair advantage inherit in winning the first pick. The <em>League Commissioner</em> (LC) is responsible for designating a time for league members to convene online, and for starting the draft. Before starting the draft, the LC will be prompted to establish the number of survivor contestants per team and set the league’s scoring system. The order in which league members draft is determined randomly.   <b>A draft can only take place once per league, is non-reversible and cannot be abandoned midway through, so it is very important that the LC sets everything up correctly!</b>
      %p Once the LC begins the draft, all league members currently signed-in will get a pop-up message on their browser letting them know that the draft is starting. This will automatically direct them to the draft page. From there, the order by which members will pick contestants for their team is visible. Members will see a message at the top of the screen when it is your turn, as well as a timer letting you know how much time is left for your turn.  <b>Every member has 2 minutes to make a selection each turn.</b> 
      %p After you make a selection, your pick will appear in a chart showing the status of the draft. The draft will then continue to the next person in the draft order and that league member will make their selection. This continues until everyone has formed their teams.  <b>League members who are not signed-in or who take longer than 2 minutes to make a selection will have a Survivor contestant “auto-drafted” at random by Reality-Labs.</b>  At the end of the draft, everyone will be redirected back to their member page.
    %h2#score_head.rules_header Regular Gameplay
    %div#score_body.hide
      %p Once the draft is complete, regular gameplay commences. After every elimination round on the show Survivor, the results will be automatically used to give every league member a score for that week, based on the scoring system devised by the League Commissioner. An elimination round is defined as every time someone gets voted off, to handle those rare cases where more than one person is voted off during a single episode. 
      %h3.rules_header#score_sys_head Scoring System
      %div.hide#score_sys_body 
        %p Each member of a user's team is assigned points based on all or some of the following criteria, depending on the scoring system set by the <em>League Commissioner</em>. The default setting for each scoring category is one point.
        %ul
          %li <b>Survival (1-5 points):</b>  Did this contestant survive through tribal council?  
          %li <b>Immunity (1-5 points):</b>  Did this contestant win an individual immunity challenge? 
          %li <b>Merger (1-5 points):</b>  Did this contestant survive through the merge into one tribe?
          %li <b>Final Three (1-5 points):</b>  Did this contestant survive to become one of the final 3 contestants?
          %li <b>Winner (1-10 points):</b>  Did this contestant win the title of sole survivor?    
  %div.cast  
    %h1 Meet the Cast
    %p 
      =meet_the_cast
%div.sidebar 
  %ul
    %li#about.active About
    %li#rules How to Play
    %li#cast Meet the Cast
    %li#my_survivor My Survivor

%div.clear

:javascript 
  $(document).ready(function(){
    // This handles the display of both the 'logged-in' and 'logged-out' versions of the homepage.
    if ("#{@id}" !== "log_in") {
      $('.signin').css('display', 'none')
      $('.signout').css('display', 'block')
    }

    // This handles the behavior of the rotating hero images
    $('#hero').cycle({ 
      fx:     'fade', 
      speed:  'slow', 
      timeout: 5000, 
      next:   '#right_scroll', 
      prev:   '#left_scroll' 
    });

    // This handles the behavior of clicking on the hero button and getting the display:none div containing 'new league' and 'new user' to appear, as well as their own behavior.  The last function sets display back to none if you click outside of the div.
    $('.hero_button').on("click", function(){
      $('.start_game').css("display", "block")
    })

    $('#new_league').on('click', function() {
      window.location.href = "/leagues/new"
    })

    $('#new_user').on('click', function() {
      window.location.href = "/users/new"
    })

    $(document).mouseup(function(e) {
      var container = $('.start_game');
      if (container.has(e.target).length === 0) {
          container.hide();
      }
    });

    // This handles the behavior of links in the sidebar.
    $('#about').on('click', function() {
      $('li').removeClass('active')
      $(this).addClass('active')
      $('div.bottom_content > div').css('display', 'none')
      $('.about').css('display', 'block')
    })

    $('#rules').on('click', function() {
      $('li').removeClass('active')
      $(this).addClass('active')
      $('div.bottom_content > div').css('display', 'none')
      $('.rules').css('display', 'block')
    })

    $('#cast').on('click', function() {
      $('li').removeClass('active')
      $(this).addClass('active')
      $('div.bottom_content > div').css('display', 'none')
      $('.cast').css('display', 'block')
    })

    $('#my_survivor').on('click', function() {
      window.location.href = "/users/#{@id}"
    })

    // If you wind up with time on your hands, refactor this code to be more succinct.  This handles all of the accordian behavior in the 'How to Play' section.
    $('#setup_head').on('click', function(){
      if ($('#setup_body').css('display') == "none") {
        $('#setup_body').slideDown()
      }
      else {
        $('#setup_body').slideUp()
      }
    })

    $('#draft_head').on('click', function(){
      if ($('#draft_body').css('display') == "none") {
        $('#draft_body').slideDown()
      }
      else {
        $('#draft_body').slideUp()
      }
    })

    $('#score_head').on('click', function(){
      if ($('#score_body').css('display') == "none") {
        $('#score_body').slideDown()
      }
      else {
        $('#score_body').slideUp()
      }
    })

    $('#start_league_head').on('click', function(){
      if ($('#start_league_body').css('display') == "none") {
        $('#start_league_body').slideDown()
      }
      else {
        $('#start_league_body').slideUp()
      }
    })

    $('#join_league_head').on('click', function(){
      if ($('#join_league_body').css('display') == "none") {
        $('#join_league_body').slideDown()
      }
      else {
        $('#join_league_body').slideUp()
      }
    })

    $('#score_sys_head').on('click', function(){
      if ($('#score_sys_body').css('display') == "none") {
        $('#score_sys_body').slideDown()
      }
      else {
        $('#score_sys_body').slideUp()
      }
    })

    // This adds the bio div to each of the contestants.
    // Abi-Maria Gomes
    $('#Abi-Maria_Gomes_bio').html("<p><strong>Abi-Maria</strong><br /><b>Tribe</b><span>Tandang</span>      <br />      <b>Age</b>      <span>32</span>      <br />      <b>Hometown</b>      <span>Los Angeles, CA</span>      <br />      <b>Occupation</b>      <span>Business Student</span>      <br />      <b>Reality Labs Pre-Season Rank</b>      <span>5</span>      <br />      <b>The Lab Work</b>      <span class='bio_float'>        Thinks she’s smarter, more charming and more athletic than she’ll end up being, but lands on a nice tribe where her energy and education may fit nicely. Once she’s in a groove, she could go far.      </span>      <br />    </p>    ")

    // Angie_Layton_bio
    $('#Angie_Layton_bio').html("<p>      <strong>Angie</strong>      <br />      <b>Tribe</b>      <span>Matsing</span>      <br />      <b>Age</b>      <span>20</span>      <br />      <b>Hometown</b>      <span>Provo, UT</span>      <br />      <b>Occupation</b>      <span>Model/Student</span>      <br />      <b>Reality Labs Pre-Season Rank</b>      <span>3</span>      <br />      <b>The Lab Work</b>      <span class='bio_float'>        The former Miss Teen Utah and 3rd place finisher in Miss Teen USA is this season’s resident bombshell. History says that women that look like this either get bounced early or go way too far on little game. Bet on the latter.      </span>      <br />    </p>")

    // Artis_Silvester_bio
    $('#Artis_Silvester_bio').html("<p>      <strong>Artis</strong>      <br />      <b>Tribe</b>      <span>Tandang</span>      <br />      <b>Age</b>      <span>53</span>      <br />      <b>Hometown</b>      <span>Terry Town, LA</span>      <br />      <b>Occupation</b>      <span>Computer Engineer</span>      <br />      <b>Reality Labs Pre-Season Rank</b>      <span>10</span>      <br />      <b>The Lab Work</b><span class='bio_float'>        The cancer survivor and gulf coast resident is a potential disaster in the making. He’s lists Rudy, James, and Rupert – who collectively had almost zero game – as his model survivors, his ex-wife as his best friend, and describes himself as explosive and opinionated. On the other hand, could go far because everyone wants to take him to the finals. Draft with caution.</span><br /></p>")

    // Carter_Williams_bio
    $('#Carter_Williams_bio').html("<p>      <strong>Carter</strong>      <br />      <b>Tribe</b>      <span>Kalabaw</span>      <br />      <b>Age</b>      <span>24</span>      <br />      <b>Hometown</b>      <span>Shawnee, KA</span>      <br />      <b>Occupation</b>      <span>Track Coach</span>      <br />      <b>Reality Labs Pre-Season Rank</b>      <span>6</span>      <br />      <b>The Lab Work</b>      <span class='bio_float'>        After running distance events for the track team at Biola University in Southern California, Carter shouldn’t find the challenges as physically demanding as some. But is this cast young enough for his playful nature to be accepted? He should be amicable enough to get to the jury, but his tribe looks weak and from there he’ll be on his own.      </span>      <br />    </p>")

    // Dana_Lambert_bio
    $('#Dana_Lambert_bio').html("<p>      <strong>Dana</strong>      <br />      <b>Tribe</b>      <span>Kalabaw</span>      <br />      <b>Age</b>      <span>32</span>      <br />      <b>Hometown</b>      <span>Winston-Salem, NC</span>      <br />      <b>Occupation</b>      <span>Cosmetologist</span>      <br />      <b>Reality Labs Pre-Season Rank</b>      <span>17</span>      <br />      <b>The Lab Work</b>      <span class='bio_float'>        Contestants from the hair, nail, and skin professions rarely last. On the other hand, she seems to be bringing energy and positivity and could surprise. She’s a wild card.      </span>      <br />    </p>")

    // Denise_Stapley_bio
    $('#Denise_Stapley_bio').html("<p>      <strong>Denise</strong>      <br />      <b>Tribe</b>      <span>Matsing</span>      <br />      <b>Age</b>      <span>41</span>      <br />      <b>Hometown</b>      <span>Cedar Rapids, IA</span>      <br />      <b>Occupation</b>      <span>Sex Therapist</span>      <br />      <b>Reality Labs Pre-Season Rank</b>      <span>2</span>      <br />      <b>The Lab Work</b>      <span class='bio_float'>        Contestants from the hair, nail, and skin professions rarely last. On the other hand, she seems to be bringing energy and positivity and could surprise. She’s a wild card.      </span>      <br />    </p>")

    // Jeff_Kent_bio
    $('#Jeff_Kent_bio').html("<p>      <strong>Jeff</strong>      <br />      <b>Tribe</b>      <span>Kalabaw</span>      <br />      <b>Age</b>      <span>44</span>      <br />      <b>Hometown</b>      <span>Austin, TX</span>      <br />      <b>Occupation</b>      <span>Retired Professional Baseball Player</span>      <br />      <b>Reality Labs Pre-Season Rank</b>      <span>13</span>      <br />      <b>The Lab Work</b>      <span class='bio_float'>        In 17 seasons in the majors, Jeff Kent was named an all-star on five separate occasions, won the 2000 National League MVP, and is major league baseball’s all-time leader in home runs for a second baseman. He knows how to be part of a team, how to motivate, and how to compete. Now, will it work on an island, without a lot of food, with a tribe full of regular people instead of world class athletes? Ask Jimmy Johnson.      </span>      <br />    </p>")

    // Jonathan_Penner_bio
    $('#Jonathan_Penner_bio').html("<p>      <strong>Jonathan</strong>      <br />      <b>Tribe</b>      <span>Kalabaw</span>      <br />      <b>Age</b>      <span>50</span>      <br />      <b>Hometown</b>      <span>Los Angeles, CA</span>      <br />      <b>Occupation</b>      <span>Writer</span>      <br />      <b>Reality Labs Pre-Season Rank</b>      <span>9</span>      <br />      <b>The Lab Work</b>      <span class='bio_float'>        Jonathan Penner returns for a third crack at the game after going deep on “Survivor: Cook Islands” and being evac-ed with a knee infection from “Survivor: Micronesia.” Jonathan’s game in both of his prior seasons was bull-in-a-china shop, which kind of worked once and wasn’t totally working the second time. Has age and maturity calmed him down enough to take his game to the next level?      </span>      <br />    </p>")

    // Katie_Hanson_bio
    $('#Katie_Hanson_bio').html("<p>      <strong>Katie</strong>      <br />      <b>Tribe</b>      <span>Kalabaw</span>      <br />      <b>Age</b>      <span>22</span>      <br />      <b>Hometown</b>      <span>Newark, DE</span>      <br />      <b>Occupation</b>      <span>Former Miss Delaware</span>      <br />      <b>Reality Labs Pre-Season Rank</b>      <span>14</span>      <br />      <b>The Lab Work</b>      <span class='bio_float'>        Is being an ex-pageant winner an occupation? Apparently she’ preparing for the Delaware Police Academy, so there’s potential there for toughness, but other interests include shopping, jogging, and hanging with mom. Sadly, Katie seems motivated by fame and money, and that’s rarely a recipe for success when s*&% hits the fan. This beauty queen will be outlasted by the other. She does look great in a bikini though, and that’s always good for something.      </span>      <br />    </p>")

    // Lisa_Whelchel_bio
    $('#Lisa_Whelchel_bio').html("<p>      <strong>Lisa</strong>      <br />      <b>Tribe</b>      <span>Tandang</span>      <br />      <b>Age</b>      <span>49</span>      <br />      <b>Hometown</b>      <span>Dallas, TX</span>      <br />      <b>Occupation</b>      <span>Retired Teen Television Star</span>      <br />      <b>Reality Labs Pre-Season Rank</b>      <span>15</span>      <br />      <b>The Lab Work</b>      <span class='bio_float'>        Oh boy. One of the former stars of the “The Facts of Life” is returning to television here after a couple of decades off to raise three kids. She is excited to meet Jeff Probst and thinks that being from Texas will be an asset. Prediction: crying and homesick, early.      </span>      <br />    </p>")

    // Malcom_Freberg_bio
    $('#Malcom_Freberg_bio').html("<p>      <strong>Malcolm</strong>      <br />      <b>Tribe</b>      <span>Matsing</span>      <br />      <b>Age</b>      <span>25</span>      <br />      <b>Hometown</b>      <span>Hermosa Beach, CA</span>      <br />      <b>Occupation</b>      <span>Bartender</span>      <br />      <b>Reality Labs Pre-Season Rank</b>      <span>7</span>      <br />      <b>The Lab Work</b>      <span class='bio_float'>        A little cocky, a lot vain, but sometimes that works. The party animal from Southern California has been watching survivor since he was 12 years old and dreaming about playing, and this is his chance. A virtual lock to form an alliance with beauty queen Angie, who is on his tribe, and to do well in early challenges.      </span>      <br />    </p>")

    // Michael_Skupin_bio
    $('#Michael_Skupin_bio').html("<p>      <strong>Michael</strong>      <br />      <b>Tribe</b>      <span>Tandang</span>      <br />      <b>Age</b>      <span>50</span>      <br />      <b>Hometown</b>      <span>White Lake, MI</span>      <br />      <b>Occupation</b>      <span>Professional Speaker, Author and Coach</span>      <br />      <b>Reality Labs Pre-Season Rank</b>      <span>11</span>      <br />      <b>The Lab Work</b>      <span class='bio_float'>        The upside here is Johnny Fairplay. The downside is a dude that can’t make friends is the first guy out on his tribe. Zane thinks he can mingle with anyone – well here’s his chance: his tribe includes a seminary student, a sex therapist, and a beauty queen.      </span>      <br />    </p>")

    // Pete_Yurkowski_bio
    $('#Pete_Yurkowski_bio').html("<p>      <strong>Pete</strong>      <br />      <b>Tribe</b>      <span>Tandang</span>      <br />      <b>Age</b>      <span>24</span>      <br />      <b>Hometown</b>      <span>Holmdel, NJ</span>      <br />      <b>Occupation</b>      <span>Engineering Graduate</span>      <br />      <b>Reality Labs Pre-Season Rank</b>      <span>17</span>      <br />      <b>The Lab Work</b>      <span class='bio_float'>        Jersey Shore comes to Survivor. Don’t be fooled by the engineering label – Pete is a meathead of the highest order who thinks he can dominate this game through sheer force of will. The elder statesmen on the Tandang tribe aren’t having it.      </span>      <br />    </p>")

    // RC_Saint-Amour_bio
    $('#RC_Saint-Amour_bio').html("<p>      <strong>RC</strong>      <br />      <b>Tribe</b>      <span>Tandang</span>      <br />      <b>Age</b>      <span>27</span>      <br />      <b>Hometown</b>      <span>New York, NY</span>      <br />      <b>Occupation</b>      <span>Investment Banker</span>      <br />      <b>Reality Labs Pre-Season Rank</b>      <span>1</span>      <br />      <b>The Lab Work</b>      <span class='bio_float'>        RC is tough as nails and won’t be rattled by the elements, the game, or her competitors. She’s a competitive swimmer that holds national masters’ records, went to Wellsley, and survives daily on male-dominated Wall Street. The only question will be if she’s too tough for her fellow survivors.      </span>      <br />    </p>")

    // Roxy_Moriss_bio
    $('#Roxy_Moriss_bio').html("<p>      <strong>Roxy</strong>      <br />      <b>Tribe</b>      <span>Matsing</span>      <br />      <b>Age</b>      <span>28</span>      <br />      <b>Hometown</b>      <span>Brooklyn, NY</span>      <br />      <b>Occupation</b>      <span>Seminary Student</span>      <br />      <b>Reality Labs Pre-Season Rank</b>      <span>12</span>      <br />      <b>The Lab Work</b>      <span class='bio_float'>        Tough call. Her age makes her a likely candidate to fall in line with tribemates Malcolm and Angie, but the religion thing is a question mark – there is reason some people don’t talk about sex, religion, or politics. How she plays that card will determine her fate.      </span>      <br />    </p>")

    // Russell_Swan_bio
    $('#Russell_Swan_bio').html("<p>      <strong>Russell</strong>      <br />      <b>Tribe</b>      <span>Matsing</span>      <br />      <b>Age</b>      <span>45</span>      <br />      <b>Hometown</b>      <span>Glenside, PA</span>      <br />      <b>Occupation</b>      <span>Environmental Attorney</span>      <br />      <b>Reality Labs Pre-Season Rank</b>      <span>4</span>      <br />      <b>The Lab Work</b>      <span class='bio_float'>        Russell fainted mid-immunity challenge on “Survivor: Samoa” in what host Jeff Probst calls “The scariest moment I’ve ever had on the show.” Now he’s back for payback against the game that got the best of him. Prior to passing out, he was playing a solid game and should have gone much further. The most adaptable and the one to have played the most recently of the three returning cast members, Russell should go the furthest.      </span>      <br />    </p>")

    // Sarah_Dawson_bio
    $('#Sarah_Dawson_bio').html("<p>      <strong>Dawson</strong>      <br />      <b>Tribe</b>      <span>Kalabaw</span>      <br />      <b>Age</b>      <span>28</span>      <br />      <b>Hometown</b>      <span>Silver Spring, MD</span>      <br />      <b>Occupation</b>      <span>Insurance Sales</span>      <br />      <b>Reality Labs Pre-Season Rank</b>      <span>8</span>      <br />      <b>The Lab Work</b>      <span class='bio_float'>        Everything Dawson touches comes dripping with sarcasm, which she says is an “underrated art,” and “should qualify as a hobby.” This should put her in the good graces of returning cast member Jonathan Penner, and the two would be a likely duo to team up to vote out MLB All-Star Jeff Kent just because. Look for her to ruffle feathers immediately.      </span>      <br />    </p>")

    // Zane_Knight_bio
    $('#Zane_Knight_bio').html("<p>      <strong>Zane</strong>      <br />      <b>Tribe</b>      <span>Matsing</span>      <br />      <b>Age</b>      <span>28</span>      <br />      <b>Hometown</b>      <span>Danville, VA</span>      <br />      <b>Occupation</b>      <span>Tire Repair</span>      <br />      <b>Reality Labs Pre-Season Rank</b>      <span>18</span>      <br />      <b>The Lab Work</b>      <span class='bio_float'>        The upside here is Johnny Fairplay. The downside is a dude that can’t make friends is the first guy out on his tribe. Zane thinks he can mingle with anyone – well here’s his chance: his tribe includes a seminary student, a sex therapist, and a beauty queen.      </span>      <br />    </p>")
     


    // This controls the hover behavior for displaying the cast bios.
    $('.cast_pics img').on('mouseover', function(){var selector = "#" + $(this).parent().attr('id') +"_bio"; $(selector).slideDown()})
    $('.cast_pics img').on('mouseout', function(){var selector = "#" + $(this).parent().attr('id') +"_bio"; $(selector).slideUp()})
    // This adds a special class on to the last bios in all three columns, so that they can be repositioned.
    / $('.left_col .cast_bio:last').addClass('last_bio')
    / $('.center_col .cast_bio:last').addClass('last_bio')
    / $('.right_col .cast_bio:last').addClass('last_bio')

  });