/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

html, button, input, select, textarea { font-family: sans-serif; color: #222; }

body { margin: 0; font-size: 1em; line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */

button, input { line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

/*
 * Re-set default cursor for disabled elements
 */

button[disabled], input[disabled] { cursor: default; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


/* ==|== primary styles =====================================================
   Author:
   ========================================================================== */
















/* ==|== media queries ======================================================
   EXAMPLE Media Query for Responsive Design.
   This example overrides the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}



/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}


/* This is style added by Brian*/

/*This is the univeral styling for the apph*/
* { margin: 0; padding: 0px; }

.clear {
  clear: both;
}

body {
  font-family: helvetica, sans-serif;
  width: 960px;
  margin: 0 auto;
}

.bg_gradient {
  background: #204764; /* Old browsers */
  background: -moz-linear-gradient(left, #204764 0%, #9ac6e7 50%, #204764 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#204764), color-stop(50%,#9ac6e7), color-stop(100%,#204764)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #204764 0%,#9ac6e7 50%,#204764 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #204764 0%,#9ac6e7 50%,#204764 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #204764 0%,#9ac6e7 50%,#204764 100%); /* IE10+ */
  background: linear-gradient(left, #204764 0%,#9ac6e7 50%,#204764 100%); /* W3C */
  min-height: 768px; /* Placeholder until I stick some content in here. */
}

.main_header {
  position: relative;
  .flash {
    position: absolute;
    top: 61px;
    left: 66px;
    color: #eaeaea;
  }
}

/*This is the styling for any front-end JQuery validation error messages*/
.error {
  font-size: 12px;
  font-family: helvetica, sans-serif;
  color: red;
}

/*This is the styling for the header and includes the Reality Lab logo, the Survivor logo and the Sign In link in the upper right*/
.rl_logo {
  float: left;
  margin-left: 50px;
  margin-top: 10px;
}

.surv_logo {
  position: relative;
  z-index: 10;
  float: left;
  margin-left: 150px;  /*Can't understand why this needs to be 150px to center the logo.  It should be 140px but that looks off.*/
}

.signin {
  float: right;
  margin-right: 50px;
  margin-top: 25px;
  font-size: 16px;
  color: #eff1f1;
}

.signout {
  float: right;
  margin-right: 50px;
  margin-top: 25px;
  font-size: 16px;
  color: #eff1f1;
  p {
    margin: 0;
    text-align: right;
  }
}



/* This is the styling for the homepage*/
/*This is the styling for the main hero section.*/
.hero {
  position: relative;
  top: -65px;
  /*width: 860px;*/
  width: 830px;
  /*height: 420px;*/
  min-height: 394px;
  margin: 0 auto;
  padding: 12px;
  position: relative;
  background-color: #b6c7d4;
  -webkit-border-radius: 3px; /* Saf3-4, iOS 1-3.2, Android ≤1.6 */
          border-radius: 3px; /* Opera 10.5, IE9, Saf5, Chrome, FF4+, iOS 4, Android 2.1+ */
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
/*  -webkit-box-shadow: 5px 5px 5px 0px #33373B; /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ 
          box-shadow: 5px 5px 5px 0px #33373B, /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 
            inset -2px -2px 10px rgba(0,0,0,0.5),  
            inset -4px -4px 5px #364e61; /*bevel effect */
}

/*This is the main 'call to action' button on the page.*/
.play_button {
  position: relative;
  z-index: 10;
  width: 360px;
  height: 60px;
  margin: -75px auto 0 auto;
  font-size: 42px;
  font-variant: small-caps;
  text-align: center;
  background: #ec8613; /* Old browsers */
    background: -moz-linear-gradient(top, #ec8613 0%, #ffd312 50%, #ec8613 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ec8613), color-stop(50%,#ffd312), color-stop(100%,#ec8613)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ec8613 0%,#ffd312 50%,#ec8613 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ec8613 0%,#ffd312 50%,#ec8613 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ec8613 0%,#ffd312 50%,#ec8613 100%); /* IE10+ */
    background: linear-gradient(top, #ec8613 0%,#ffd312 50%,#ec8613 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec8613', endColorstr='#ec8613',GradientType=0 ); /* IE6-9 */
  -webkit-border-radius: 12px; /* Saf3-4, iOS 1-3.2, Android ≤1.6 */
          border-radius: 12px; /* Opera 10.5, IE9, Saf5, Chrome, FF4+, iOS 4, Android 2.1+ */
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
  -webkit-box-shadow: 5px 5px 5px 0px #33373B; /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
          box-shadow: 5px 5px 5px 0px #33373B; /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
  a {
    color: black;
    text-decoration: none;
  }
}

.hero_inset {
  position: relative;
  min-height: 394px;
  width: 830px;
  margin: 0 auto;
  /*padding-bottom: 15px;*/
  /*top: 12px;*/
  /*margin-top: 30px;
  margin-right: auto;
  margin-left: auto;*/
  background-color: #eaeaea;
  -webkit-border-radius: 3px; /* Saf3-4, iOS 1-3.2, Android ≤1.6 */
          border-radius: 3px; /* Opera 10.5, IE9, Saf5, Chrome, FF4+, iOS 4, Android 2.1+ */
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
  -webkit-box-shadow: 2px 2px 6px 1px #33373B; /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
          box-shadow: 2px 2px 6px 1px #33373B, /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
            inset 0px 0px 0px rgba(0,0,0,0.5),  
            inset -1px -1px 2px #3b3b3b; /*bevel effect*/ 

  .hero_image {
    padding-top: 15px;
    padding-left: 15px;
    width: 798px;
    height:360px;
  }
  ul {
    margin: 0;
  }
}

.arrow {
  position: absolute;
  z-index: 10;
  left:620px;
  top: 322px;
}

.handwriting {
  font-family: 'ThrowMyHandsUpintheAirBold';
  font-size: 28px;
  color: white;
  position: absolute;
  z-index: 10;
  left:500px;
  top: 300px;
}

.scroll {
  position: absolute;
  left: 0;
  top: 0;
}

.left_scroll {
  position: absolute;
  z-index: 10;
  padding-top: 68px;
}

.right_scroll {
  position: absolute;
  z-index: 10;
  padding-top: 68px;
  padding-left: 698px;
}

.hero_button {
  position: absolute;
  z-index: 10;
  left: 432px;
  top: 338px;
  height: 42px;
  width: 200px;
  -moz-box-shadow:inset 0px 1px 0px 0px #fff6af;
  -webkit-box-shadow:inset 0px 1px 0px 0px #fff6af;
  box-shadow:inset 0px 1px 0px 0px #fff6af;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23) );
  background:-moz-linear-gradient( center top, #ffec64 5%, #ffab23 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23');
  background-color:#ffec64;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #ffaa22;
  display:inline-block;
  color:#333333;
  font-family:helvetica, sans-serif;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:1px 1px 0px #ffee66;
}

.hero_button:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64) );
  background:-moz-linear-gradient( center top, #ffab23 5%, #ffec64 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64');
  background-color:#ffab23;
}

.hero_button:active {
  position:absolute;
  top: 339px;
}

.start_game {
  display: none;
  position: absolute;
  top: 62px;
  left: 236px;
  z-index: 10;
  width: 402px;
  height: 225px;
  background-color: #eaeaea;
  -webkit-border-radius: 3px; /* Saf3-4, iOS 1-3.2, Android ≤1.6 */
          border-radius: 3px; /* Opera 10.5, IE9, Saf5, Chrome, FF4+, iOS 4, Android 2.1+ */
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
  -webkit-box-shadow: 2px 2px 6px 1px #33373B; /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
          box-shadow: 2px 2px 6px 1px #33373B, /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
            inset 0px 0px 0px rgba(0,0,0,0.5),  
            inset -1px -1px 2px #3b3b3b; /*bevel effect*/ 

  .new_league {
    position: relative;
    float: left;
    width: 191px;
    margin-left: 20px;
    margin-top: 20px;
    /*padding: 10px;*/
  }
  .new_user {
    position: relative;
    float: left;
    width: 191px;
    margin-left: 0px;
    margin-top: 20px;
    /*padding: 10px;*/
  }
  button {
    line-height: 12px;
    position: relative;
    float: left;
    z-index: 10;
    -moz-box-shadow:inset 0px 1px 0px 0px #fff6af;
    -webkit-box-shadow:inset 0px 1px 0px 0px #fff6af;
    box-shadow:inset 0px 1px 0px 0px #fff6af;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23) );
    background:-moz-linear-gradient( center top, #ffec64 5%, #ffab23 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23');
    background-color:#ffec64;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #ffaa22;
    display:inline-block;
    color:#333333;
    font-family:helvetica, sans-serif;
    font-size:24px;
    font-weight:bold;
    line-height: 30px;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:1px 1px 0px #ffee66;
    width: 170px;
    height: 100px;

    &:hover {
      background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64) );
      background:-moz-linear-gradient( center top, #ffab23 5%, #ffec64 100% );
      filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64');
      background-color:#ffab23;
    }

    &:active {
      position:relative;
      top:1px;
    }
  }

  p {
    position: relative;
    top: 10px;
    text-align: center;
    font-size: 16px;
    margin-right: 20px;
    padding: 10px;    
  } 
}

/*.start_game h3 {
  margin-left: 20px;
}*/

.bottom_content{  
  position: relative;
  left: 50px;
  top: -50px;
  width: 630px;
  min-height: 230px;
  margin-bottom: 40px;
  float: left;
  background-color: #eaeaea;
  -webkit-border-radius: 3px; /* Saf3-4, iOS 1-3.2, Android ≤1.6 */
          border-radius: 3px; /* Opera 10.5, IE9, Saf5, Chrome, FF4+, iOS 4, Android 2.1+ */
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
  -webkit-box-shadow: 2px 2px 6px 1px #33373B; /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
          box-shadow: 2px 2px 6px 1px #33373B, /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
            inset 0px 0px 0px rgba(0,0,0,0.5),  
            inset -1px -1px 2px #3b3b3b; /*bevel effect*/ 
  h1 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 6px;
  }
  p {
    margin: 0 20px 20px 20px;
    font-size: 18px;
    /* padding-bottom: 30px;  This is to push the bottom of the page a little past the bottom of 'bottom_content.'  You will need to have something like this every time the content changes in there. */
  }
  .rules {
    display: none;
    h2, h3{
      margin: 20px
    }
    p {
      margin: 0px 35px 10px 35px;
      text-align: justify;
    }
    .hide {
      display: none;
    }
    .rules_header {
      &:hover {
      cursor:pointer;cursor:hand;
      color: #97C3E4;
      }
    }
    ul {
      list-style: none;
    }
    li {
      margin: 0 35px 0 0;
    }
  }
  .cast {
    display: none;
  }
  .cast, .cast_userpage {
    .cast_pics {
      padding-bottom: 30px;
    }
    .left_col {
      position: relative;
      float: left;
      width: 210px;
      text-align: center;
    }

    .center_col {
      position: relative;
      float: left;
      width: 210px;
      text-align: center;
    }

    .right_col {
      position: relative;
      float: left;
      width: 210px;
      text-align: center;
    }
  }
}

.sidebar {
  position: relative;
  width: 200px;
  /*height: 230px;*/
  float: left;
  left: 80px;
  top: -50px;
  background-color: #244B68;  
  -webkit-border-radius: 3px; /* Saf3-4, iOS 1-3.2, Android ≤1.6 */
          border-radius: 3px; /* Opera 10.5, IE9, Saf5, Chrome, FF4+, iOS 4, Android 2.1+ */
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
  -webkit-box-shadow: 2px 2px 6px 1px #33373B; /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
          box-shadow: 2px 2px 6px 1px #33373B, /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
            inset 0px 0px 0px rgba(0,0,0,0.5),  
            inset -1px -1px 2px #3b3b3b; /*bevel effect*/ 
  ul, ul li a {
    text-decoration: none;
    list-style: none;
    /*line-height: 48px;*/
    color: white;
    font-size: 18px;
    li:hover, li a:hover {
      cursor:pointer;cursor:hand;
      color: #97C3E4;
    }
  }
  li {
    margin-bottom: 29px;
  }
  li.active {
    color: #97C3E4;
  }
}



/* The stylings below are for the log_in page (i.e. /sessions/new)*/
.log_in {
  width: 192px;
  position: absolute;
  left: 319px;
  top: 100px;
  input.text_field {
    width: 215px;
  }
}



/* The stylings below are for the each user's individual page (i.e. /users/#{user.id})*/
.black_overlay{
      /*display: none;*/
      position: absolute;
      top: 0%;
      left: 0%;
      width: 100%;
      height: 843px;
      background-color: black;
      z-index:1001;
      -moz-opacity: 0.8;
      opacity:.80;
      filter: alpha(opacity=80);
    }

.tutorial {
  /*display: none;*/
  color: black;
  font-family: helvetica, sans-serif;
  position: absolute;
  top: 0px;
  left: 192px;
  width: 415px;
  /*height: 50%;*/
  padding: 16px;
  border: 8px solid #FFC000;
  background-color: white;
  z-index:1002;
  overflow: auto;
  h2 {
    text-align: center;
  }
  p {
    text-align: justify;
    padding-top: 10px;
    &.first_visit_response {
      font-size: 12px;
      text-align: center;
    }
  }
  a {
    font-size: 12px;
  }
}

.down_arrow {
  position: absolute;
  z-index:1002;
  top: 300px;
  left: 366px;
}


.hero_inset_image {
  position: relative;
  min-height: 394px;
  width: 830px;
  margin: 0 auto;
  /*padding-bottom: 15px;*/
  /*top: 12px;*/
  /*margin-top: 30px;
  margin-right: auto;
  margin-left: auto;*/
  background-image: url('hero_tropicalbckgrnd.jpg');
  color: white;
  font-family: 'ThrowMyHandsUpintheAirRegular';
  background-color: #eaeaea;
  -webkit-border-radius: 3px; /* Saf3-4, iOS 1-3.2, Android ≤1.6 */
          border-radius: 3px; /* Opera 10.5, IE9, Saf5, Chrome, FF4+, iOS 4, Android 2.1+ */
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
  -webkit-box-shadow: 2px 2px 6px 1px #33373B; /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
          box-shadow: 2px 2px 6px 1px #33373B, /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
            inset 0px 0px 0px rgba(0,0,0,0.5),  
            inset -1px -1px 2px #3b3b3b; /*bevel effect*/ 

  h1.league_name {
    position: relative;
    left: 592px;
    top: 20px;
    width: 236px;
  }
  h3 {
    font-size: 24px;
  }
  ul {
    margin: 0;
  }
/*  &.new_league_user_div {
    padding-bottom: 15px;
  }*/
}

/*.league_name {
  text-align: center;
  padding-top: 60px;
}*/

.round_number {
  text-align: center;
  font-size: 18px;
  position: relative;
  top: -5px;
}

.hero_left {
  width: 415px;
  position: relative;
  float: left;
  /*margin-top: 100px;*/
  
  .scoreboard_title {
    text-align: center;
  }

  .user_score {
    padding: 10px 0px 10px 70px;
  }

/*  .cast_userpage {
    display: block;
  }*/

  &.new_user_hero_div {
    margin-top: 20px;
  }
  &.user_hero_div {
    margin-top: 100px;
  }
}

table.scoreboard, table.scoring_system_table {
  /*font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;*/
  font-family: "Helvetica", Sans-Serif;
  font-size: 12px;
  width: 355px;
  text-align: left;
  border-collapse: collapse;
  margin: 0px auto 15px auto;
/*    .first_col {
    width: 100px;
  }*/
  thead th {
    font-size: 14px;
    font-weight: normal;
    background: #739DBD;
    border-top: 4px solid #4C7593;
    border-bottom: 1px solid white;
    color: #244B68;
    padding: 8px 8px 8px 20px;
  }
  tbody tr td {
    background: #99C5E6;
    border-bottom: 1px solid white;
    color: #669;
    border-top: 1px solid transparent;
    padding: 8px 8px 8px 20px;
    font-size: 12px;
  }
  tfoot tr td {
    background: #99C5E6;
    border-bottom: 1px solid white;
    color: #244B68;
    border-top: 1px solid transparent;
    padding: 8px 8px 8px 40px;
    font-size: 16px;
    &:last-child {
      padding: 8px 8px 8px 55px;
    }
  }
}

.hero_right {
  width: 415px;
  position: relative;
  float: left;
  text-align: center;
  /*margin-top: 100px;*/
  .arrow-scroll-left {
    width: 30px;
    position: absolute;
    z-index: 5;
    top: 0;
    left: 70px;
  }
  .arrow-scroll-right {
    width: 30px;
    position: absolute;
    z-index: 5;
    top: 0;
    left: 340px;
  }
/*  .team_table_title {
    width: 355px;
  }*/
  .teams {
    left: 45px;
  }
  table.contestants {
    /*background-color: #B6C7D4;*/
    width: 355px;
    margin: 25px auto 15px auto;
    /*tr:first-child {
      td {
        img {
          padding-top: 0px;
        }
      }
    }*/
    .x {
      position: absolute;
      top: -14px;
      left: 0;
      width: 122px;
      height: 148px;
    }
    td {
      position: relative;
      padding: 0px 0px 0px 0px;
      width: 118px;
      height: 146px;
      img {
        width: 91px;
        height: 114px;
        &.eliminated {
          opacity: .50;
        }
      }
      h3 {
        font-family: helvetica, sans-serif;
        font-size: 12px;
        width: 118px;
        margin-top: 2px;
      }
    }
  }
  &.new_user_hero_div {
    margin-top: 20px;
  }
  &.user_hero_div {
    margin-top: 100px;
  }
}

.bottom_content {
  .description {
    display: none;
    font-size: 12px;
    color: white;
    background-color: #244B68;
    position: absolute;
    padding: 4px;
  }
  .scoring_system {
    display: none;
  }
  sup.teamsize {
    text-decoration: underline;
  }
  sub.teamsize {
    position: relative;
    left: -122px;
  }
  .hide {
      display: none;
    }
  .rules_header {
    &:hover {
    cursor:pointer;cursor:hand;
    color: #97C3E4;
    }
  }
  .new_invite {
    position: relative;
    float: left;
    width: 175px;
    margin: 0px 15px 15px 0px;
  }
  .lc_panel {
    display: none;
    h2, h3{
      margin: 20px
    }
    p {
      margin: 0px 35px 10px 35px;
      text-align: justify;
    }
    .hide {
      display: none;
      margin: 20px;
    }
    .rules_header {
      &:hover {
      cursor:pointer;cursor:hand;
      color: #97C3E4;
      }
    }
    ul {
      list-style: none;
    }
    li {
      margin: 0 35px 0 0;
    }
    td {
      padding: 10px;
    }
    .submit {
      margin-left: 8px;
    }
  }
}



/*The following styling is specific to the /leagues/#{league.id}/draft, otherwise known as the LC Control Panel*/
h1.lc_page_heading {
  text-align: center;
  padding-top: 60px;
}

table.online_table {
  /*font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;*/
  font-family: "Helvetica", Sans-Serif;
  font-size: 12px;
  width: 355px;
  text-align: left;
  border-collapse: collapse;
  margin: 15px auto 15px auto;
  thead th {
    font-size: 16px;
    font-weight: normal;
    background: #739DBD;
    border-top: 4px solid #4C7593;
    border-bottom: 1px solid white;
    color: #244B68;
    padding: 8px 8px 8px 40px;
  }
  tbody tr td {
    background: #99C5E6;
    border-bottom: 1px solid white;
    color: #669;
    border-top: 1px solid transparent;
    padding: 8px 8px 8px 55px;
    font-size: 14px;
  }
  tfoot tr td {
    background: #99C5E6;
    border-bottom: 1px solid white;
    color: #244B68;
    border-top: 1px solid transparent;
    padding: 8px 8px 8px 40px;
    font-size: 16px;
    &:last-child {
      padding: 8px 8px 8px 55px;
    }
  }
}

table.draft_setup_table {
  /*font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;*/
  font-family: "Helvetica", Sans-Serif;
  font-size: 12px;
  width: 355px;
  text-align: left;
  border-collapse: collapse;
  margin: 15px auto 15px auto;
  thead th {
    font-size: 16px;
    font-weight: normal;
    background: #739DBD;
    border-top: 4px solid #4C7593;
    border-bottom: 1px solid white;
    color: #244B68;
    padding: 8px 8px 8px 40px;
  }
  tbody tr td {
    background: #99C5E6;
    border-bottom: 1px solid white;
    color: #669;
    border-top: 1px solid transparent;
    padding: 8px 8px 8px 55px;
    font-size: 14px;
  }
  tfoot tr td {
    background: #99C5E6;
    border-bottom: 1px solid white;
    color: #244B68;
    border-top: 1px solid transparent;
    padding: 8px 8px 8px 40px;
    font-size: 16px;
    &:last-child {
      padding: 8px 8px 8px 55px;
    }
  }
}



/* The following is specific to the /users/new page*/


.check_username_response, .check_league_name_response{
  font-family: helvetica, sans-serif;
  font-size: 12px;
}

.username_available {
  color: green;
}

.username_unavailable {
  color: red;
}

.name_field {
  position: relative;
  float: left;
  &input {
    width: 108px;
  }
}



/* The following styling is specific to the /leagues/new page*/
.league_header {
  font-size: 48px;
  text-align: center;
  padding-top: 80px;
}

.league_subheader {
  font-size: 32px;
  text-align: left;
  /*margin-top: 24px;*/
  padding-left: 30px;  
}

.opacity {
  background-image: url('black_opacity50.png');
  margin: 0 auto 15px auto;
  width: 315px;
  padding-top: 15px;
  padding-bottom: 30px;
}

.opacity_long {
  background-image: url('black_opacity50.png');
}

p.description {
  font-family: "helvetica, sans-serif";
  color: black;
  margin-left: 30px;
  font-size: 12px;
  background-color: #B6C7D4;
  position: absolute;
  display: none;
  z-index: 1;
  text-align: left;
}

.league_field {
  /*font-family: "helvetica, sans-serif";*/
  padding-left: 30px;
}

.league_input {
  display: block;
  width: 250px;
}

textarea {
  display: block;
  width:355px;
}

.league_label {
  display: block;
  text-align: left;
  &.name_label {
  display: inline-block;
  }
}

.league_invite {
  width: 108px;
  position: relative;
  float: left;
  margin-bottom: 22px;
  margin-right: 28px;
  &.bottom_row {
    margin-bottom: 0;
  }
}

.new_league_submit {
  -moz-box-shadow:inset 0px 1px 0px 0px #fff6af;
  -webkit-box-shadow:inset 0px 1px 0px 0px #fff6af;
  box-shadow:inset 0px 1px 0px 0px #fff6af;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23) );
  background:-moz-linear-gradient( center top, #ffec64 5%, #ffab23 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23');
  background-color:#ffec64;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #ffaa22;
  display:inline-block;
  color:#333333;
  font-family:helvetica, sans-serif;
  font-size:24px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:1px 1px 0px #ffee66;
  margin: 30px 0px 16px 0px;

  &:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64) );
    background:-moz-linear-gradient( center top, #ffab23 5%, #ffec64 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64');
    background-color:#ffab23;
  }

 /* &:active {
    margin-top: 31px;
  }*/

  &.new_user_submit {
    position: relative;
    /*left: -58px;*/
    top: 16px;
  }
}




/*The following styling is specific to the /leagues/#{league.id}/draft_page */
span {
  font-size: 24px;
}

.league_name.draft_name {
  padding-top: 50px;
  text-align: center;
}

.draft_order {
  /*max-width: 550px;*/
  margin: 0 auto;
  background-color: #99C5E6;
  h2 {
    text-align: center;
    padding-top: 15px;
  }
  .draft_list {
    position: relative;
    float: left;
    padding: 16px;
    /*padding-bottom: 32px;*/
    ul {
      padding: 0;
      list-style: none;
      padding-left: 6px;
    }
  }
}

.flash_notice {
  height: 30px;
  text-align: center;
}

table.draft_table {
    /*font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;*/
    font-family: "Helvetica", Sans-Serif;
    font-size: 12px;
    /*width: 355px;*/
    text-align: left;
    border-collapse: collapse;
    margin: 15px auto 0px auto;
    .draft_table_header th {
      text-align: center;
      &:first-child {
        -moz-border-radius: 6px 0 0 0;
        -webkit-border-radius: 6px 0 0 0;
        border-radius: 6px 0 0 0;
      }

      &:last-child {
        -moz-border-radius: 0 6px 0 0;
        -webkit-border-radius: 0 6px 0 0;
        border-radius: 0 6px 0 0;
      }

      &:only-child{
        -moz-border-radius: 6px 6px 0 0;
        -webkit-border-radius: 6px 6px 0 0;
        border-radius: 6px 6px 0 0;
      }
    }
    thead th {
      font-size: 16px;
      font-weight: normal;
      background: #739DBD;
      /*border-top: 4px solid #4C7593;*/
      
      /*color: #244B68;*/
      padding: 8px;
      /*padding: 8px 8px 8px 40px;*/
      /*tr:last-child th {
        border-bottom: 1px solid white;
      }*/
    }
    .draft_table_round_num {
        text-align: center;
      }
    tbody tr td {
      background: #99C5E6;
      /*border-bottom: 1px solid white;*/
      /*color: #669;*/
      border-top: 1px solid transparent;
      padding: 8px;
      /*padding: 8px 8px 8px 40px;*/
      font-size: 14px;
      width: 60px;
    }
    
  }

.draft_bottom_content{  
  position: relative;
  left: 50px;
  top: -50px;
  width: 860px;
  min-height: 230px;
  margin-bottom: 40px;
  float: left;
  background-color: #eaeaea;
  -webkit-border-radius: 3px; /* Saf3-4, iOS 1-3.2, Android ≤1.6 */
          border-radius: 3px; /* Opera 10.5, IE9, Saf5, Chrome, FF4+, iOS 4, Android 2.1+ */
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
  -webkit-box-shadow: 2px 2px 6px 1px #33373B; /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
          box-shadow: 2px 2px 6px 1px #33373B, /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
            inset 0px 0px 0px rgba(0,0,0,0.5),  
            inset -1px -1px 2px #3b3b3b; /*bevel effect*/ 
  h1 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 6px;
  }
  h2 {
    text-align: center;
    padding-top: 15px;
  }
  p {
    margin: 0 20px 20px 20px;
    font-size: 18px;
    /* padding-bottom: 30px;  This is to push the bottom of the page a little past the bottom of 'bottom_content.'  You will need to have something like this every time the content changes in there. */
  }
  button {
    margin: 15px;
    img {
      width: 160px;
      height: 201px;
    }
  }
  .available {
    background-color: green
  }

  .unavailable {
    background-color: red;
    opacity: .5;
  }

  .temp_block {
    opacity: .5
  }

  #start_draft {
    opacity: .5;
  }

  .left_col {
    position: relative;
    float: left;
    width: 286px;
    text-align: center;
  }

  .center_col {
    position: relative;
    float: left;
    width: 286px;
    text-align: center;
  }

  .right_col {
    position: relative;
    float: left;
    width: 286px;
    text-align: center;
  }
}

p#turn {
  position: absolute;
  top: 0;
  font-size: 50px;
  display: none;
}

p#up {
  display: none;
}

/*p#turn, p#up {
  visibility: hidden;
}*/